:root {
    /* box-sizing: border-box; */
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: rgb(255, 92, 119);
    color: white;
}

html, body {
    margin: 0;
}

/* canvas {
    margin: 0;
} */

canvas {
    display:block;
}
  
#frame {
    /* Necessary to make sure frame width/height
    isn't set according to the canvas element */
    position: absolute;
    overflow: hidden;

    /* Optional stuff for positioning */
    top:50%;
    left:50%;
    width: 75%;
    height: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    }